.store {
    font-family: 'a_love_of_thunderregular';
    font-weight: normal;
    font-style: normal;
    font-size: 3em;
}

.store-1 {
    width: 20vw;
    height: 20vw;
    background-color: yellow;
}

.store-2 {
    width: 20vw;
    height: 20vw;
    background-color: yellow;
}

.store-3 {
    width: 20vw;
    height: 20vw;
    background-color: yellow;
}

.store-4 {
    width: 20vw;
    height: 20vw;
    background-color: yellow;
}

.store-5 {
    width: 20vw;
    height: 20vw;
    background-color: yellow;
}

.store-6 {
    width: 20vw;
    height: 20vw;
    background-color: green;
}

.store-7 {
    width: 20vw;
    height: 20vw;
    background-color: green;
}

.store-8 {
    width: 20vw;
    height: 20vw;
    background-color: green;
}

/* San Jose, CA*/
.store-9 {
    width: 20vw;
    height: 20vw;
    background-color: green;
}

.store-10 {
    width: 20vw;
    height: 20vw;
    background-color: green;
}

.store-11 {
    width: 20vw;
    height: 20vw;
    background-color: green;
}

.store-11 {
    width: 20vw;
    height: 20vw;
    background-color: #fff;
}