/* design world */

body {
    background-image: url("img/plasticbag.png");
    background-color: #fff;
    background-size: cover;
    color: #000;
    margin: 0;
    overflow: hidden;

}

#mainContainer {
    width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);

    -webkit-box-shadow:
        1em 0 1em -1em #ccc,
        -1em 0 1em -1em #ccc;
    box-shadow:
        1em 0 1em -1em #ccc,
        -1em 0 1em -1em #ccc;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

}

#pageHeader {
    height: 125px;
    margin: 0 auto;
}

#headerTop {
    height: 50px;
    width: 1000px;
    display: inline-flex;
    align-items: center;
}

#savefrysLogo a {
    text-decoration: none;
}

#searchBar {
    border: solid red;
    max-width: 400px;
    line-height: 22px;

    float: left;
    margin: 0px 0px 0px 0px;


}

#go {
    border: solid red;
    background-color: red;
    line-height: 28px;
    padding: auto 10px;

}


#searchBar marquee {
    background-color: #eee;
    max-width: 450px;
    max-height: 50px;
    margin: auto;
}


.navbar {
    width: 1000px;
    border-radius: 10px;
    padding: 0px 30px 0px 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ee4a50), to(#be1b21));
    background-image: linear-gradient(to bottom, #ee4a50, #be1b21);
    background-repeat: repeat-x;

}

.nav {
    list-style: none;
    display: flex;

}

.navItem {
    /* background: linear-gradient(to bottom, rgba(238, 74, 80) 0, #be1b21 100%); */
    background: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    text-align: center;
    color: ##000;
    line-height: 29px;
    flex-grow: 1;
    border: solid 1px black;
    border-radius: 10px;
    margin: 5px 2.5px;
}

#emptyNavItem {
    flex-grow: 5;
}

#lastNavItem {}



.center {
    max-width: 1000px;
    margin: auto;
}

.element {
    max-width: 70vw;
    padding: 5px 10px;
    margin: 20px 0px;
    border: solid red;
    background-color: #fff;
}

.story-1 {
    width: 20vw;
    height: 20vw;
    margin: 20px 0px;
    border: solid red;
    background-color: yellow;
}

.story-11 {
    width: 20vw;
    height: 20vw;
    margin: 20px 0px;
    border: solid red;
    background-color: green;
}

img {
    max-width: 600px;
}

h1 {
    color: red;
    font-family: 'a_love_of_thunderregular';
    font-weight: normal;
    font-style: normal;
    font-size: 3em;
}


h2 {
    font-style: italic;
    color: red;
    padding: 10px;
}


.hover-img {}

model-viewer {

    width: 925px;
    height: 600px;
    margin: 0 auto 10px auto;
    border: solid #000 2px;
    border-radius: 10px;
}
