/* design world */

body {
    background-image: url("img/plasticbag.png");
    background-color: #fff;
    background-size: cover;
    color: #000;
    margin: 0;

}

#mainContainer {
    width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);

    -webkit-box-shadow:
        1em 0 1em -1em #ccc,
        -1em 0 1em -1em #ccc;
    box-shadow:
        1em 0 1em -1em #ccc,
        -1em 0 1em -1em #ccc;

}

#pageHeader {
    height: 125px;
    margin: 0 auto;
}

#headerTop {
    height: 50px;
    width: 1000px;
    display: inline-flex;
    align-items: center;
}

#savefrysLogo {}

#searchBar {
    border: solid;
    border-color: red;
    max-width: 400px;
    max-height: 30px;
    float: left;
    margin: 0px 0px 0px 0px;


}

#go {
    border: solid;
    border-color: red;
    background-color: red;
    max-width: 20px;

}


#searchBar marquee {
    background-color: #eee;
    max-width: 450px;
    max-height: 50px;
    margin: auto;
}


.navbar {
    width: 1000px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ee4a50), to(#be1b21));
    background-image: linear-gradient(to bottom, #ee4a50, #be1b21);
    background-repeat: repeat-x;




}

.nav {
    list-style: none;
    display: flex;

}

.navItem {
    background: linear-gradient(to bottom, rgba(238, 74, 80) 0, #be1b21 100%);
    text-decoration: none;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    color: #fff;
    float: left;
    line-height: 29px;
    flex-grow: 1;
    border-right-style: solid ;
}

#lastNavItem {

    flex-grow: 4;
    float: right;
    border-right-style: solid 0px;

}



}

.center {
    max-width: 1000px;
    margin: auto;
}

.element {
    max-width: 70vw;
    padding: 10px;


}

img {
    max-width: 600px;
}

h1 {
    color: red;
    font-family: 'a_love_of_thunderregular';
    font-weight: normal;
    font-style: normal;
    font-size: 3em;
}

a {
    text-decoration: none;
}

.h1img {
    height: 40px;
}

h2 {
    font-style: italic;
    color: red;
    padding: 10px;
}

ul {
    color: #ff8f8f;
}

a {
    color: #2baeff;
}


blockquote {
    font-family: Garamond, serif;
    font-style: italic;
}

#hashExpand {
    display: none;
}

#hashExpand:target {
    display: block;
}



/* Navigation */

nav {
    height: 9rem;
}

/*this is for an ul*/
.nav-list {
    display: flex;
}

.nav-name {
    font-size: 1.1rem;
}

.hover-img {}

#icon-home {

    font-size: 1.1rem;
    max-width: 100px;
}


/* Draggable elements */

.drag {
    width: 600px;
    height: 600px;
    cursor: move;
    position: absolute;
    z-index: 1;
}


#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}
