/* design world */

body {
    background-image: url("img/plasticbag.png");
    background-color: black;
    background-size: cover;
    color: #000;
    margin: 0;

}

#mainContainer{
    width:1000px;
    margin:auto;
        background-color: rgba(255,255,255,0.8);

    -webkit-box-shadow: 
        1em 0 1em -1em #ccc,
        -1em 0 1em -1em #ccc;
    box-shadow: 
        1em 0 1em -1em #ccc,
        -1em 0 1em -1em #ccc;
        
}
#pageHeader{
    height:125px;
    
}

marquee {
    border: solid;
    border-color: red;
    background-color: #eee;
    max-width: 450px;
    max-height: 50px;
        margin: auto;
}


.center {
    max-width: 1000px;
    margin: auto;
}

.element {
    max-width: 70vw;
    padding: 10px;


}

img {
    max-width: 600px;
}

h1 {
    color: red;
    font-family: 'a_love_of_thunderregular';
    font-weight: normal;
    font-style: normal;
    font-size:3em;
}

a {text-decoration: none;}

.h1img {
    height: 40px;
}

h2 {
    font-style: italic;
    color: red;
    padding: 10px;
}

ul {
    color: #ff8f8f;
}

a {
    color: #2baeff;
}


blockquote {
    font-family: Garamond, serif;
    font-style: italic;
}

#hashExpand {
    display: none;
}

#hashExpand:target {
    display: block;
}



/* Navigation */

nav {
    height: 9rem;
}

/*this is for an ul*/
.nav-list {
    display: flex;
}

.nav-name {
    font-size: 1.1rem;
}

.hover-img {}

#icon-home {

    font-size: 1.1rem;
    max-width: 100px;
}


/* Draggable elements */

.drag {
    width: 600px;
    height: 600px;
    cursor: move;
    position: absolute;
    z-index: 1;
}


#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}
